@import "./../../Assets/scss/variables.scss";

.app-btn {
    background-color: $light_blue;
    color: $white;
    border: 1px solid $gray;
    border-color: $light_blue;
    width: 100%;
    outline: none;
    &:hover {
        background-color: $blue;
        color: $white;
        animation: effect 0.4s;
    }
    @keyframes effect {
        0% {
            transform: translateX(0px) rotate(0deg);
        }

        20% {
            transform: translateX(-4px) rotate(-4deg);
        }

        40% {
            transform: translateX(-2px) rotate(-2deg);
        }

        60% {
            transform: translateX(4px) rotate(4deg);
        }

        80% {
            transform: translateX(2px) rotate(2deg);
        }

        100% {
            transform: translateX(0px) rotate(0deg);
        }
    }
}
