@import "../../Assets/scss/variables.scss";
.welcome-container {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light_blue_gray;
    .welcome {
        width: 50%;
        margin: 0 auto;
        top: 25%;
        z-index: 1000;
        @media screen and (max-width: 992px) {
           width: 100%;
           top: 0;
        }
    }
}
