@import "./../../Assets/scss/variables.scss";
.app-input {
    color: $gray;
    border: 1px solid $gray;
    border-radius: 5px;
    border-color: $ccc;
    width: 100%;
    padding-left: 5px;
    &:focus,
    &:visited {
        border-color: $sky_blue;
        box-shadow: 0 0 1px $sky_blue;
        border-width: 2px;
        outline: none;
    }
    @media screen and (max-width: 992px) {
        margin-bottom: 10px;
        height: 53px;
    }
}
